*{
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: 'Freestyle Script';
    src: url('../fonts/FreestyleScript-Regular.eot');
    src: url('../fonts/FreestyleScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FreestyleScript-Regular.woff2') format('woff2'),
        url('../fonts/FreestyleScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../icon-font/fontello.eot');
    src: url('../icon-font/fontello.eot') format('embedded-opentype'),
         url('../icon-font/fontello.woff2') format('woff2'),
         url('../icon-font/fontello.woff') format('woff'),
         url('../icon-font/fontello.ttf') format('truetype'),
         url('../icon-font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="link-"]:before, [class*="link-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}
#toggle__checkbox{
    display: none;
}   
img{
    width: 100%;
    height: auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.no-container{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
button:hover{
    background-color: #4052d5;
    font-size: 1.2em;
}
.header{
    flex: 1 0 auto;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

                                                             /* NAV */
.nav{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}
.logo{
    position: absolute;
    height: 68px;
    width: 68px;
    left:50%;
    transform: translateX(-50%);
}
.logo-mobile-version{
    display: none;
}
.nav__list{
    min-width: 280px;
    list-style: none;
    display: flex;
    
}
.nav__list_left{
    justify-content: flex-end;
    margin-right: 170px;
}
.nav__list_right{
    justify-content: flex-start;
    margin-left: 170px;
}
.nav__item{
    margin: 0 15px;
    position: relative;
}
.test{
    right: 0;
}
.nav__link{
    font-size: 14px;
    font-weight: 600;
    color: #555555;
    transition: all 0.3s;
}
.nav__link:hover{
    color: #5363db;
}
.nav__link:active{
    color: #5363db;
    border-bottom: 1px solid #5363db;
}

                                                            /* HEADER */
.header{
    max-height: 700px;
    position: relative;
}
.header_bg{
    width: 100%;
    min-height: 600px;
    background: url("../img/bg1.png") center center / cover no-repeat;
}
.header__container{
    display: flex;
    justify-content: center;
}
.header__wrap{
    margin-top: 100px;
    min-height: 391px;
    min-width: 485px;
    display: flex;
}
.header__wrap:first-child{
    margin-right: 45px;
    justify-content: flex-end;
}
.header__wrap:last-child{
    margin-left: 45px;
    justify-content: flex-start;
}


.header__intoduction{
    padding-top: 55px;
}
.header__h1{
    font-size: 48px;
    text-align: left;
    color: #ffffff;
    font-weight: 700;
    margin: 0 0 26px;
    line-height: 76px;
    text-transform: uppercase;
} 
.italic-text{
    font-size: 39px;
    text-align: left;
    color: #ffffff;
    font-family: 'Freestyle Script';
    line-height: 46px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 391px;
    border-radius: 20px;
    background-color: #fff;
    padding: 40px 40px 35px 30px;
}
.form__name{
    font-size: 26px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #5363db;
    margin-bottom: 31px;
}
.form__input{
    width: 230px;
    height: 50px;
    border-radius: 8px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 17px;
    padding: 0 10px;
    font-size: 14px;
}
.form__input::-webkit-input-placeholder {color: #888888;}
.form__input::-moz-placeholder {color: #888888;}
.form__input:-moz-placeholder {color: #888888;}
.form__input:-ms-input-placeholder {color: #888888;}
.form__button{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background-color: #5b6ceb;
    border: none;
    margin-top: calc(31px - 15px);
    margin-left: calc(100% - 170px);

    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.form__input_grey{
    color: #888888;
    cursor: pointer;
}


                                                            /* MAIN */
                                                /* MAIN YOGA PROGRAMS SECTION */
.yoga-programs{
    min-height: 1025px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0 50px;
}
.yoga-programs__header{
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #5b6ceb;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.yoga-programs__text{
    font-family: 'Freestyle Script';
    font-size: 41px;
    line-height: 28px;
    text-align: center;
    color: #777777;
    margin-bottom: 76px;
}

.yoga-programs__cards{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
}

.yoga-card{
    width:  570px;
    height: calc(570px * 0.526);
    margin: 0 15px 25px;
    display: flex;
    border-radius: 8px;
    box-shadow: 3.5px 3.5px 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.yoga-card__img{
    width: 270px;
    height: 100%;
    overflow: hidden;
}
.yoga-card__img img{
    height: 100%;
    width: auto;
    
}
.yoga-card__form{
    width: 270px;
    height: 100%;
    padding: 50px 0 46px 30px;
}
.yoga-card__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #777777;
    text-transform: uppercase;
    margin-bottom: 36px;
}
.yoga-card__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #555555;
    margin-bottom: 18px;
}
.yoga-card__text-bootom{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #999999;
}
                                                /* PEOPLE DO YOGA PICTURES */
.yoga-pictures{
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yoga-pictures__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.yoga-pictures__img{
    width: 24.99%; 
}
.yoga-pictures__img img{
    display: inline-block;
    vertical-align: top; 
}
.yoga-pictures__hover{
    opacity: 0;
    position: relative;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../icons/hover-loupe.png") center center/ 57px 57px no-repeat rgba(91, 108, 235, 0.8); 
    transition: all 0.25s ease; 
}
.yoga-pictures__img:hover .yoga-pictures__hover{
    opacity: 1;
    cursor: pointer;   
}

                                        /* ABOUT US SECTION */
.about-us{
    min-height: 550px;
    display: flex;
    justify-content: center;
    padding: 170px 0 140px;
}
.about-us__text-box{
    width: 570px;
    height: 300px;
    padding-top: 25px;
}
.about-us__text-box h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #5b6ceb;
    margin-bottom: 30px;
}
.about-us__text-box p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    text-align: left;
    color: #555555;
    width: 460px;
}
.about-us__carusel-box{
    width: 570px;
    height: calc(570px * 0.5263);
    border-radius: 10px;
    box-shadow: 4.2px 4.2px 15px 0 rgba(0, 0, 0, 0.3);

}
.about-us__carusel .item{
    height: calc(570px * 0.5263);
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px; 
    overflow: hidden;
}
.about-us__carusel-box .slick-prev{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;    
    box-shadow: 6.4px 6.4px 9px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.about-us__carusel-box .slick-next{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 6.4px 6.4px 9px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    transform: translateY(-50%);
}
.about-us__carusel-box .slick-prev img, .about-us__carusel-box .slick-next img{
    height: 17px;
    width: auto;
}

                                        /* ICONS ON BLUE BACKGROUND */
.icons-info_bg{
    min-height: 800px;
    margin: 0 auto;
    background: url("../img/bg2.png") center center/cover no-repeat;
    padding-top: 125px;
}
.icons-info_bg .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-box{
    width: 265px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px 39px;
}
.icon-box__icon{
    min-width: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #ffffff;
    padding: 5px;
    margin-bottom: 29px;
}
.icon-box_size{
    max-width: 100%;
    width: auto;
}
.icon-box__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    min-height: 50px;
    margin-bottom: 25px;
}
.icon-box__text{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.69;
    text-align: center;
    color: #ffffff;
}

                                            /* PURCHASE PRICE */
.flower-bg{
    min-height: 1150px;
    background: url('../img/bg3.png') bottom right/ auto auto no-repeat;
    overflow: hidden;
}
.yoga-price{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 106px;
}
.price-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 494px;
    border-radius: 10px;
    box-shadow: 6.4px 6.4px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    background-color: #fff;
}
.price-card__price{
    padding-top: 50px;
    height: 150px;
    width: 100%;
    background-color: #5b6ceb;
    border-radius: 10px 10px 0 0;
    font-size: 67px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 51px;
}
.price-card__price:before{
    content: '$';
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 21px 10px 0;
    position: relative;
    top: -10px;
}
.price-card__price sub{
    font-size: 17px;
}

.price-card__text{
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #555555;
}
.price-card hr{
    width: 98px;
    color: #555555;
    margin-bottom: 25px;
}
.price-card__button{
    margin-top: 25px;
    width: 170px;
    height: 50px;
    border-radius: 20px;
    background-color: #5b6ceb;
    border: none;

    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
                                                /* REVIEW CARUSEL */

.review{
    display: flex;
    justify-content: center;
}
.review-carusel{
    max-width: 1150px;
    height: 250px;
    box-shadow: 6.4px 6.4px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.review .slick-initialized .slick-slide{
    display: flex;
}
.review-card{
    width: 1150px;
    height: 250px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 38px 32px 0 63px;
    position: relative;
}
.review__img{
    max-height: 148px;
    max-width: 148px;
    border: solid 2px #d7d7d7;
    border-radius: 50%;
    margin-right: 89px;
    padding: 10px;
    min-width: 148px;
}

.review__text{
    width: 643px;
}
.review__descr{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.57;
    color: #555555;
    margin-bottom: 34px;
    position: relative;
}
.review__descr:before{
    content: "\2033";
    height: 40px;
    position: absolute;
    color: #5b6ceb;
    font-size: 55px;
    transform: rotate(180deg);
    top: 0;
    left: -37px;
}
.review__descr:after{
    content: "\2033";
    height: 40px;
    position: absolute;    
    color: #5b6ceb;
    font-size: 55px;
    top: 50px;
    left: 686px;
}
.review__status{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #777777;
    margin-bottom: 9px;
}
.review__name{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #5b6ceb;
}
.review-card hr{
    width: 77px;
    transform: rotate(90deg);
    position: absolute;
    top: 130px;
    left: 228px;
    border: 1px solid #d7d7d7;
}
                                                /* SMALL SLIDER */
.small-slider{
    display: flex;
    position: absolute;
    top: 214px;
    left: 340px;
}
.small-slider__img{
    height: 72px;
    width: 72px;
    border: 2px solid #d7d7d7;
    border-radius: 50%;
    padding: 4px;
    margin-right: 17px;
    background-color: #fff;
}
.small-slider__name{
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #555555;
    margin: 19px 0 13px;
}
.small-slider__status{
    font-size: 12px;
    font-weight: 400;
    color: #777777;
}
.review-carusel .slick-prev{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;    
    box-shadow: 6.4px 6.4px 9px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 250px;
    left: 290px;
}
.review-carusel .slick-next{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 6.4px 6.4px 9px 0 rgba(0, 0, 0, 0.2);
    top: 250px;
    left: 540px;
}
.review-carusel .slick-prev img, .review-carusel .slick-next img{
    height: 10px;
    width: auto;
}
.slick-dots{
    top: 100px;
    left: 1155px;
    width: auto;
    height: 30px;
}
.slick-dots li button:before{
    content: '';
    width: 20px;
    height: 20px;
    border: solid 2px #b3b3b3;
    border-radius: 50%;
    opacity: 1;
}
.slick-dots li.slick-active button:before{
    content: "\2022";
    color: #5b6ceb;
    border: solid 2px #5b6ceb;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}


.review-carusel .slick-list{
    overflow: visible;
}

                                                /* FOOTER */

.footer{
    min-height: 550px;
    width: 100%;
    position: relative;
    background-color: #5b6ceb;
    padding-top: 100px;
}
.footer__info-wrap{
    display: flex;
    justify-content: center;
}
.footer__about, .footer__contact-us{
    width: 50%;
    min-height: 240px;
}
.footer__h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 61px;
}
.footer__text{
    padding-right: 140px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    text-align: left;
    color: #ffffff;
}
.footer__links .row{
    display: flex;
}
.footer__links .row:first-child{
    min-height: 66px;
}
.footer__link-street, 
.footer__link-email,
.footer__link-tel,
.footer__link-website{
    width: 50%;
    display: flex;
}

.footer__links .row a{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    text-align: left;
    color: #ffffff;
    display: block;
}
.footer__link-street:before{
    content: '\e800';
    color: #ffffff;
    margin: 3px 20px 0 0;
    font-size: 18px;
}
.footer__link-tel:before{
    content: '\e801';
    color: #ffffff;
    margin: 3px 20px 0 0;
    font-size: 20px;
}
.footer__link-email:before{
    content: '\e803';
    color: #ffffff;
    margin: 3px 19px 0 0;
    font-size: 18px;
}
.footer__link-website:before{
    content: '\e804';
    color: #ffffff;
    margin: 3px 20px 0 0;
    font-size: 18px;
}
.social{
    list-style: none;
    display: flex;
}
.social__item a:before{
    color: #ffffff;
    font-size: 21px;
    width: 40px;
    height: 40px;
    margin: 0 4px 0 0;
    text-align: center;
    line-height: 40px;
    transition-duration: 0.3s;
}

.social__item a:hover:before{
    color: #5b6ceb;
    background-color: #fff;
    border-radius: 50%;
}
.footer__links .row a{
    transition-duration: 0.26s;
}
.footer__links .row a:hover{
    font-size: 1.04em;
    font-weight: 700;
}


.link-pinterest:before{
    content: '\f312';
}
.link-twitter:before{
    content: '\e802';
}
.link-facebook:before{
    content: '\e806';
}
.link-gplus:before{
    content: '\f30f';
}
.link-instagram:before{
    content: '\f31f';
}


.footer__bottom-text{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #5363d8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__bottom-text p{
    font-size: 16px;
    font-weight: 400;
    color: #b7bffc;
}

                                                                /* MEDIA RULES */

@media all and (max-width: 1229px){
    .header_bg{
        min-height: 520px;
    }
    .header__wrap{
        margin-top: 70px;
        min-height: 391px;
        min-width: 390px;
    }
    .header__wrap:first-child{
        margin-right: 30px;
    }
    .header__wrap:last-child{
        margin-left: 30px;
    }
    .form {
        width: 270px;
        height: 371px;
        padding: 30px 20px 20px 20px;
    }
    .form__button{
        margin: 0 0 0 calc(100% - 170px);
    }
    .header__h1{
        font-size: 38px;
        line-height: 63px;
    }
    .italic-text{
        font-size: 34px;
        line-height: 39px;
    }
    .yoga-programs {
        min-height: 780px;
        padding-top: 70px;
    }
    .yoga-programs__text {
        margin-bottom: 40px;
    }
    .yoga-programs__cards {
        width: 990px;
    }
    .yoga-card {
        width: 450px;
        height: calc(450px * 0.526);
        line-height: 19px;
    }
    .yoga-card__form {
        padding: 20px 20px 18px 20px;
    }
    .yoga-card__title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .yoga-card__text {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .yoga-card__text-bootom {
        font-size: 13px;
    }
    .yoga-card__img{
        width: 250px;
    }

    .about-us {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 80px;
    }
    .about-us__text-box {
        width: 90%;
        height: auto;
        text-align: center;
        padding: 10px 15px 40px;
    }

    .about-us__text-box h2 {
        margin-bottom: 18px;
    }
    .about-us__text-box p{
        width: auto;
    }
    .about-us__carusel-box {
        width: 520px;
        height: calc(520px * 0.5263);
    }
    .icons-info_bg {
        padding-top: 65px;
    }
    .yoga-price {
        padding-top: 70px;
        margin-bottom: 45px;
    }

    .price-card {
        width: 290px;
        height: 405px;
    }
    .price-card__price {
        padding-top: 25px;
        height: 110px;
        margin-bottom: 34px;
    }
    .price-card__price {
        font-size: 60px;
    }
    .price-card__button {
        margin-top: 0px;
    }
    .price-card__text {
        font-size: 16px;
    }
    .review-carusel {
        max-width: 880px;
        height: 220px;
    }
    .review-card {
        width: 880px;
        height: 220px;
        padding: 30px 45px 0 30px;
    }
    .review__descr:after {
        left: 575px;
    }
    .review-card hr {
        left: 185px;
    }
    .small-slider {
        top: 182px;
    }
    .review-carusel .slick-prev, .review-carusel .slick-next {
        top: 220px;
    }
    .slick-dots {
        top: 78px;
        left: 890px;
    }
    .review__descr {
        font-size: 13px;
    }
    .review__status {
        margin-bottom: 4px;
    }
    .flower-bg {
        min-height: 830px;
    }
    .footer {
        min-height: 400px;
        padding-top: 55px;
    }
    .footer__about, .footer__contact-us {
        width: 46%;
        min-height: 210px;
    }
    .footer__h4 {
        margin-bottom: 35px;
    }
    .footer__text {
        padding-right: 60px;
    }
    .social{
        margin-left: 4%;
    }
    .footer__bottom-text {
        height: 68px;
    }
}


@media all and (max-width: 991px){
    
    .nav {
        min-height: 65px;
    }
    .nav__list_left {
        margin-right: 0px;
    }
    .logo {
        height: 43px;
        width: 43px;
    }
    .header_bg {
        min-height: 400px;
    }
    .header__wrap {
        margin-top: 50px;
        min-height: 294px;
        min-width: 334px;
    }
    .form__name {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .form__input {
        width: 200px;
        height: 40px;
        margin-bottom: 14px;
        font-size: 12px;
    }
    .form__button {
        width: 157px;
        height: 40px;
        margin-left: calc(100% - 157px);
        font-size: 15px;
    }
    .form {
        width: 230px;
        height: 290px;
        padding: 22px 15px 20px;
    }
    .header__h1 {
        font-size: 26px;
        line-height: 38px;
    }
    .italic-text {
        font-size: 26px;
        line-height: 30px;
    }
    .yoga-programs__header {
        font-size: 23px;
    }
    .yoga-programs__text {
        font-size: 31px;
    }
    .yoga-programs__cards {
        width: 500px;
    }
    .yoga-programs {
        padding: 35px;
    }
    .icon-box__icon {
        margin-bottom: 13px;
    }
    .icon-box__title {
        margin-bottom: 13px;
    }
    .icon-box {
        margin: 0 16px;
    }
    .price-card__price {
        padding-top: 12px;
        height: 86px;
        margin-bottom: 22px;
        font-size: 40px;
    }
    .price-card__price sub {
        font-size: 14px;
    }
    .price-card__price:before {
        font-size: 24px;
        margin: 0 10px;
        top: -6px;
    }
    .price-card__text {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .price-card hr {
        margin-bottom: 10px;
    }
    .price-card__button {
        margin-top: 10px;
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
    .price-card {
        width: 200px;
        height: 290px;
    }
    .review-carusel {
        max-width: 700px;
        height: 190px;
    }
    .review-card{
        max-width: 700px;
        height: 190px;
    }
    .review__img {
        max-height: 100px;
        max-width: 100px;
        margin-right: 58px;
        padding: 6px;
        min-width: 100px;
    }
    .review__descr {
        font-size: 12px;
    }
    .review__status {
        font-size: 13px;
        margin-bottom: 4px;
    }
    .review__name {
        font-size: 15px;
    }
    .review-card hr {
        left: 120px;
        top: 120px;
    }
    .small-slider {
        top: 153px;
    }
    .review-carusel .slick-prev, .review-carusel .slick-next {
        top: 189px;
    }
    .review__descr:after {
        left: 474px;
        top: 38px;
    }
    .flower-bg {
        min-height: 680px;
    }
    .footer {
        min-height: 515px;
    }
    .footer__info-wrap {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .footer__about, .footer__contact-us {
        width: 86%;
        min-height: 145px;
    }
    .footer__h4 {
        margin-bottom: 22px;
    }
    .social {
        margin-left: 7%;
        padding-top: 36px;
    }
}

@media all and (max-width: 767px){
    button:hover{
        font-size: 1em;
    }
    
    .toggle{
        display: block;
        width: 56px;
        height: 40px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #5b6ceb;
        border-radius: 6px;
        top: 13px;
        right: 40px;
        padding: 4px 12px;
        display: flex;
        align-items: center;
        z-index: 40;
    }
    .toggle span{
        display: block;
        height: 2px;
        background-color: #5b6ceb;
        width: 100%;
        border-radius: 10px;
        position: relative;
        transition-duration: 0.2s;
    }
    .toggle span:before{
        content: "";
        height: 2px;
        background-color: #5b6ceb;
        width: 100%;
        border-radius: 10px;
        position: absolute;
        top: -7px;
        transition-duration: 0.2s;
    }
    .toggle span:after{
        content: "";
        height: 2px;
        background-color: #5b6ceb;
        width: 100%;
        border-radius: 10px;
        position: absolute;
        top: 7px;
        transition-duration: 0.2s;
    }
    .nav {
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: rgb(247, 247, 247);
        top: 65px;
        left: -100%;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        padding: 20px 25px;
        transition-duration: 0.3s;
        border-radius: 0 0 30px 30px;
        border-bottom: 7px solid #bac2ff;
    }
    .logo{
        display: none;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__mobile-version{
        min-height: 66px;
        width: 100%;
        position: absolute;
        z-index: 30;
        background-color: #fff;
    }
    .nav__list_right {
        margin-left: 0;
    }
    .logo-mobile-version{
        display: block;
        position: absolute;
        top: 10px;
        left: 40px;
        width: 46px;
    }
    .nav__link {
        display: block;
        font-size: 21px;
        line-height: 37px;
        color: #5b6ceb;
    }
    .nav__link:hover{
        border: none;
    }

    #toggle__checkbox:checked ~ .toggle span{
        transform: rotate(45deg);
    }
    #toggle__checkbox:checked ~ .toggle span:after{
        top: 0;
    }
    #toggle__checkbox:checked ~ .toggle span:before{
        top: 0;
        transform: rotate(90deg);
    }
    #toggle__checkbox:checked ~ .nav{
        left: 0;
    }


    .header__container {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .header__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__wrap:last-child{
        order:-1;
        margin: 0;
        margin-top: 50px;
        min-height: 244px;
    }
    .header__wrap:first-child{
        margin: 0;
        min-width: auto;
    }
    .header__h1 {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
    }
    .italic-text {
        text-align: center;
    }
    .italic-text br{
        display: none;
    }
    .header__container {
        min-height: 630px;
    }
    .yoga-card__text {
        font-size: 11px;
        line-height: 17px;
    }
    .yoga-pictures__img {
        width: 49.99%;
    }
    .about-us__carusel-box {
        width: 450px;
        height: calc(450px * 0.5263);
    }
    .about-us__carusel .item {
        height: calc(450px * 0.5263);
    }
    .about-us__carusel .slick-dots{
        left: 50%;
        transform: translateX(-50%);
        top: 245px;
    }
    .slick-dots li button:before{
        content: '';
        width: 7px;
        height: 7px;
        border: solid 1px #b3b3b3;
        border-radius: 50%;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before{
        content: "";
        background-color: #5b6ceb;
        border: solid 1px #5b6ceb;
    }
    .about-us__text-box p {
        font-size: 13px;
    }
    .icon-box {
        width: 225px;
    }
    .icon-box__title {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 5px;
    }
    .icon-box__text {
        line-height: 22px;
        font-size: 13px;
    }
    .yoga-price{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
    }
    .price-card {
        width: 240px;
        height: 299px;
        margin-bottom: 40px;
    }
    .small-slider{
        display: none;
    }
    .review{
        padding-bottom: 30px;
    }
    .review-carusel {
        max-width: 520px;
        height: 270px;
    }
    .review-card {
        max-width: 520px;
        height: 270px;
        padding: 7px;
        flex-direction: column;
        align-items: center;
    }
    .review-card hr{
        display: none;
    }
    .review__img {
        margin: 5px 0 10px;
    }
    .review__text {
        width: 485px;
    }
    .review__descr{
        font-size: 11px;
    }
    .review__descr:after, .review__descr:before{
        display: none;
    }
    .review__status {
        font-size: 12px;
        margin-left: 16px;
    }
    .review__name {
        font-size: 14px;
        margin-left: 16px;
    }
    .review-carusel .slick-dots{
        top: 284px;
        left: 50%;
        transform: translateX(-50%);
    }
    .yoga-pictures__hover{
        display: none;
    }
    .footer__text {
        font-size: 12px;
    }
    .footer__links .row a:hover{
        font-size: 14px;;
        font-weight: 400;
    }
}
@media all and (max-width: 575px){
    .logo-mobile-version {
        left: 13px;
    }
    .toggle {
        right: 13px;
    }
    .header__h1 {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 18px;
    }
    .header__wrap:last-child {
        min-height: 205px;
    }
    .header__container {
        min-height: 600px;
    }
    .yoga-programs__header {
        font-size: 19px;
        margin-bottom: 7px;
    }
    .yoga-programs__text {
        font-size: 28px;
        margin-bottom: 29px;
    }
    .yoga-card {
        width: 290px;
        min-height: 470px;
        line-height: 19px;
        flex-direction: column;
    }
    .yoga-card__img {
        width: 100%;
        height: 690px;
    }
    .yoga-card__form {
        padding: 16px;
        width: 100%;
    }
    .about-us__text-box h2 {
        font-size: 26px;
    }
    .about-us__text-box p {
        font-size: 12px;
    }
    .about-us__carusel-box {
        width: 295px;
        height: calc(295px * 0.5263);
    }

    .about-us__carusel .item {
        height: calc(295px * 0.5263);
    }
    .about-us__carusel .slick-dots {
        top: 164px;
    }
    .review-carusel {
        max-width: 274px;
    }
    .review__descr {
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .review__text {
        width: 250px;
    }
    .footer {
        padding-top: 36px;
        min-height: 543px;
    }
    .footer__h4 {
        margin-bottom: 19px;
        font-size: 16px;
    }
    .footer__text {
        font-size: 11px;
        padding: 0;
        margin-bottom: 29px;
    }
    .footer__links .row{
        flex-direction: column;
    }
    .footer__links .row>div{
        width: 100%;
    }
    .footer__links .row>div{
        margin-bottom: 6px;
    }
    .footer__links .row a{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .footer__links .row a:hover{
        font-size: 12px;
    }
    .social {
        margin-left: 4%;
        padding-top: 25px;
    }
    .footer__bottom-text {
        height: 50px;
    }
    .footer__bottom-text p {
        font-size: 13px;
    }
    .icon-box {
        height: 232px;
    }
}