body {
    color: #4f4f5c;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-height: 100%;
}

main {
    min-height: calc(100vh - 90px);
    padding-bottom: 30px;
}

.wrap {
    width: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    border: 10px solid #dd1213;
}
.push {
    height: 50px;
}
.wrap h1 {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 28px;
}

.minus {
    border: 1px solid #dd1213;
    background-color: #ffffff;
    color: #dd1213;
    height: 34px;
    width: 160px;
    margin-bottom: 24px;
    cursor: pointer;
    transition-duration: .15s;
}

.minus:hover {
    font-size: 1.04em;;
}

.minus-active {
    background-color: #dd1213;
    color: rgb(255, 255, 255)
}

.input-minus {
    position: absolute;
    color: #000000;
    font-weight: 700;
    font-size: 25px;
}
.input-minus1 {
    left: 27px;
}
.input-minus2 {
    left: 46px;
}
.input-minus3 {
    left: 59px;
}

.visibility {
    visibility: hidden;
}

.wrap label{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.wrap label div {
    display: block;
    position: relative;
}
.wrap label div sub {
    margin-left: 4px;
    color: #1b7ad3;
    font-weight: 600;
    font-size: 15px;
}


.wrap label input {
    height: 30px;
    padding: 4px 0 4px 14px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 8px;
    width: 280px;
    color: #052e08;
}


.wrap .discard {
    color: rgb(255, 255, 255);
    border: none;
    background-color: #4f4f5c;
    width: 200px;
    height: 45px;
    margin-top: 35px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.wrap .discard:hover {
    font-size: 1.05em;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #4f4f5c;
}





@media screen and (max-width: 575px) {
    .wrap {
        width: 320px;
        padding-bottom: 30px;
    }
    .wrap label {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }

    .wrap label input {
        margin-top: -25px;
    }

    .wrap .discard:hover {
        font-size: 1em;
    }

    .input-minus {
        left: -131px;
        top: 3px;
        margin: 0;

    }
}
