body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: #8daab8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #09360c;
    min-height: 100%;
}

main {
    min-height: 90vh;
    padding-bottom: 30px;
}
.wrap {
    width: 500px;
    background-color: #ebffe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 36px;
    border: 10px solid #2bad10;
}
.push {
    height: 50px;
}
.wrap h1 {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 28px;
    color: #0b410f;
}

.wrap>label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.wrap label div {
    display: block;
    position: relative;
}
.wrap label div sub {
    margin-left: 4px;
    color: #1b7ad3;
    font-weight: 600;
    font-size: 15px;
}


.wrap label input {
    height: 30px;
    padding: 4px 8px;
    border: 2px solid #96b271;
    background-color: #f7fff6;
    border-radius: 8px;
    width: 280px;
    color: #052e08;
}


.wrap .discard {
    color: white;
    border: none;
    background-color: #2bad10;
    width: 200px;
    height: 45px;
    margin-top: 35px;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.wrap .discard:hover {
    font-size: 1.05em;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #8daab8;
    background-color: #103a0f;
}

@media screen and (max-width: 575px) {
    .wrap {
        width: 320px;
        padding-bottom: 30px;
    }
    .wrap>label {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
    }
    .wrap label div {
        margin-bottom: 5px;
    }
    .wrap .discard:hover {
        font-size: 1em;
    }
}
