*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem;
  min-height: 100vh;
}

.random-word-style {
  min-height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
}

#textarea {
  resize: none;
}
