body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.srs-link{
    width: 600px;
    height: 400px;
    background: linear-gradient(45deg, rgb(71, 90, 255), rgb(255, 6, 222));
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srs-link a{
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
    text-decoration: none;
    padding: 20px;
    transition-duration: 0.3s;
}
.srs-link a span{
    font-size: 42px;
}
.srs-link a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: black;
}
